.catalogo-productos {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

#productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.producto-item {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.2s;
}

.producto-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-item h3 {
  margin: 10px 0;
}

.producto-item p {
  margin: 5px 0;
}

.producto-item input {
  width: 50px;
  text-align: center;
  margin-top: 10px;
}

.submit {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #3c91b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  transition: 0.3s;
}

.submit:hover {
  background-color: #075a7a;
}

.btn-container {
  text-align-last: center;
}

#mensaje {
  margin-top: 20px;
  font-size: larger;
}