.catalogo-productos {
  padding: 20px;
}

#productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.producto-item {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: solid 1px #a0a0a0;
}

.producto-item h3 {
  margin: 10px 0;
}

.producto-item p {
  margin: 5px 0;
}

.producto-item input {
  width: 50px;
  text-align: center;
}

.submit {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #3c91b3;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
}

.submit:hover {
  background-color: #075a7a;
}

.btn-container {
  text-align-last: center;
}

#mensaje {
  margin-top: 20px;
}